@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@if (!User.Identity.IsAuthenticated)
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}
else
{
    <span>Hello, @UserManager.GetUserName(User)</span>

    <form asp-controller="Account" asp-action="Logout" style="display:inline;">
        <button class="btn btn-outline-danger my-2 my-sm-0"><i class="bi bi-box-arrow-in-right"></i>Logout</button>
    </form>


}
